/* General App styling */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
  line-height: 1.6; /* Increase line height for better readability */
}

/* Form styling */
.EventForm {
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem; /* Larger font size */
}

.EventForm input[type="text"],
.EventForm input[type="date"],
.EventForm select {
  width: calc(100% - 40px); /* Increase the width deduction for padding */
  padding: 15px;
  margin-bottom: 20px; /* Add more space between form items */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem; /* Increase font size */
  margin-right: 10px; /* Add space to the right of each input */
}

.EventForm button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px; /* Increase padding for larger buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem; /* Increase font size */
  margin-top: 20px; /* Add space above the button */
  margin-right: 10px; /* Add space between buttons */
}

.EventForm button:hover {
  background-color: #45a049;
}

/* List styling */
.EventList {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 40px auto; /* Add more space around the list */
}

/* Timeline styling */
.EventTimeline {
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem; /* Increase font size */
}

/* EventList item styling */
.EventList li {
  background-color: #f2f2f2;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Allows absolute positioning for children */
  font-size: 1.2rem;
}

/* New container for buttons to control layout */
.EventList-item-actions {
  margin-top: 10px; /* Spacing between event details and buttons */
  text-align: center; /* Center align buttons */
}

/* Styles for different event types */
.type-merger {
  background-color: #2196f3; /* Blue */
  color: white;
}

.type-dividends {
  background-color: #4caf50; /* Green */
  color: white;
}

.type-new-capital {
  background-color: #ffc107; /* Yellow */
  color: black;
}

.type-hire {
  background-color: #f44336; /* Red */
  color: white;
}

/* Ensure that the item content (title) is always visible */
.vis-item-content {
  text-align: left; /* Align text to the left */
}

/* Ensure that the item content (title) is always visible and centered */
.vis-item-content {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

/* Tooltip styling */
.vis-tooltip {
  background-color: #333;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

/* Ensure the timeline fits its container */
.vis-timeline {
  border: none;
}

.button-edit,
.button-delete {
  padding: 10px 15px;
  margin: 0 5px; /* Spacing between buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Adjust font size as necessary */
  display: inline-block; /* Display buttons inline */
}

/* Additional styles for buttons */
.button-edit {
  background-color: #FFC107;
  color: black;
}

.button-edit:hover {
  background-color: #FFB300;
}

.button-delete {
  background-color: #F44336;
  color: white;
}

.button-delete:hover {
  background-color: #D32F2F;
}